@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-background: #f5f7fa;
  --color-textprim: #343c6a;
  --color-textblue: #1814f3;
  --color-tthird: #b1b1b1;
  --color-line: #e3e3e3;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;

  /* Breakpoint */
  --breakpoint-sm: 640px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1536px;
}
